h2 {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
}

.message {
  display: none;
}

.message.active {
  display: block;
}

.cards {
  column-count: 3;
  margin-top: 40px;
}

.card {
  margin-bottom: 1rem;
  display: flex;
}

.card-image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .cards {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    column-count: 1;
  }
}